* {
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.5;
    min-height: 90vh;
    display: grid;
    place-items: center;        
}


.main-container {
    box-shadow: 0 0 25px rgba(182, 43, 43, 0.2);
    width: 75%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    color: coral;
    text-align: center;
    padding: 3em;
}

.main-image {
    border: 3px cornflowerblue solid;
    height: auto;
    min-width: 375px;
}

.share-btn {
    border-radius: 50%;
}

.links {
    color: cornflowerblue;
}
